{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs"
  ],
  "rules": {
    "semi": 0,
    "indent": 0,
    "vue/no-v-html": 0,
    "vue/html-self-closing": 0,
    "vue/html-closing-bracket-newline": 0,
    "vue/singleline-html-element-content-newline": 0,
    "vue/html-indent": 0,
    "no-tabs": 0,
    "vue/max-attributes-per-line": 0
  }
}
